{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Error' %}
{% endblock title%}

{% block extra_css %}
<style>
        .card {
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
        }
        
        .btn-primary {
          background-color: red;
          border-color: red;
          color: white;
        }
        
        .btn-primary:hover {
          background-color: red;
          border-color: red;
          color: white;
          opacity: 0.9;
        }
        
        img {
          max-width: 80px;
          max-height: 80px;
        }
    </style>
{% endblock extra_css %}
{% block content_page %}
{% include 'core/components/nav_bar.html' %}
<div class="section-header mb-3 ">
  <h2 class="section-heading text-center">{% trans 'Error' %}</h2>
</div>



<section class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="card p-5 text-center">
            <img src="{% static 'assets/img/errorIcon.png' %}" alt="Ícono de Error" class="mb-4 d-block mx-auto">
            <h1 class="mb-3">{% trans '¡An error has occurred!' %}</h1>
            <p class="text-muted mb-4">{% trans 'This error comes from PayPal or you canceled the purchase. If the error is from PayPal, please try again later.' %}</p>
            <a href="{% url 'almacen:dashboard' %}" class="btn btn-lg btn-primary">{% trans 'Volver a la página principal' %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content_page %}

{% block extra_js %}
<script>
    $('.header-action-item').empty()
    $('.icon-search').empty()
</script>
{% endblock %}