{% extends 'core/base.html' %}
{% load static i18n %}
{% load discount_percentage %}
{% load int_custom_filters %}

{% block title %}
{% trans 'GainUp Canna Ecomemrce Admin' %}
{% endblock title%}

{% block extra_css %}
<style>
    .tamañoIcon{
        font-size: 20px;
    }
</style>
<style>
    
    
    .add-to-cart-text {
      white-space: nowrap;
      opacity: 0.7;
      transition: opacity 0.2s ease-out;
    }
    
    .action-card:hover .add-to-cart-text {
      opacity: 1;
      

    }


    .cambio:active {
        background-color: #00234D;
    }


    .anima path {
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      }
      
      .anima.clicked path {
        opacity: 0;
        transform: translate(50%, -50%) rotate(45deg);
      }

      
      
      

</style>
<style>
    .avatar-container {
        width: 45px; /* Tamaño del contenedor del avatar */
        height: 45px;
        margin: 10px 0px 10px 10px;
        overflow: hidden; /* Para recortar la imagen si es necesario */
        border-radius: 50%; /* Para que la imagen tenga forma de círculo */
        border: 1px solid var(--primary-color); /* Opcional: puedes agregar un borde al contenedor */
      }
      
      .avatar-img {
        
        width: 100%; /* Ajusta la imagen al tamaño del contenedor */
        height: 100%;
        object-fit: cover; /* Para que la imagen se ajuste al contenedor sin deformarse */
      }
      
      .userdetail:hover{
        color:var(--secondary-color);
        cursor: pointer;

       }
     
</style>
<style>
  select {
    font-size: 16px;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    color: #333333;
  }

  
  
  /* Estilo para el hover del select */
  select:hover {
    background-color: {{settings.primarycolor_page}};
    color: white;
    opacity: 0.65;
    
  }
  
  /* Estilo para el foco del select */
  select:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 0 2px #7FB2F0;
  }
  
  /* Estilo para las opciones */
  option {
    font-size: 16px;
    padding: 8px;
    background-color: #FFFFFF;
    color: #333333;
  }
  
  
  
  /* Estilo para la flecha del select */
  select::-ms-expand {
    display: none;
  }
  
  select::-webkit-select-arrow {
    display: none;
  }
</style>
{% endblock extra_css %}

{% block content_page%}
{% include 'core/components/nav_bar.html' %}
<button id="scrollup">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="18 15 12 9 6 15"></polyline></svg>  
</button>

{% comment %} {% include 'core/components/modals/dialog.html' %} {% endcomment %}
<main id="MainContent" class="content-for-layout">
    <div class="collection mt-100">
        <div class="container">
            <div class="row flex-row-reverse">
                <!-- product area start -->
                <div class="col-lg-9 col-md-12 col-12">
                    <div class="filter-sort-wrapper d-flex justify-content-between flex-wrap">
                        <div class="collection-title-wrap d-flex align-items-end">
                            <h2 class="collection-title heading_24 mb-0">{% trans 'All products' %}</h2>
                            <p class="collection-counter text_16 mb-0 ms-2">( {{object_list|length}} )</p>
                        </div>
                        <div class="filter-sorting">
                            <div class="collection-sorting position-relative d-none d-lg-block">
                                <div class="sorting-header text_16 d-flex align-items-center justify-content-end">
                                    
                                </div>
                                <ul class="sorting-lists list-unstyled m-0">
                                   
                                </ul>
                            </div>
                            <div class="filter-drawer-trigger mobile-filter d-flex align-items-center d-lg-none">
                                <span class="mobile-filter-icon me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-filter">
                                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                    </svg>
                                </span>
                                <span class="mobile-filter-heading">{% trans 'Filter and Sorting' %}</span>
                            </div>
                        </div>
                    </div>
                    {% block products %}

                    <div class="collection-product-container">
                        <div class="row">
                            {% for product in object_list %}
                            <div class="col-lg-4 col-md-6 col-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="700">
                                <div class="product-card">
                                    <div class="product-card-img">
                                        <a class="hover-switch" href="#">
                                           
                                            {% with first_image=product.images.first %}
                                            {% if first_image %}
                                                 <img class="primary-img" src=" {{first_image.image.url}}  " alt="product-img">
                                            {% endif %}
                                        {% endwith %}
                                        {% with last_image=product.images.last %}
                                            {% if last_image %}
                                                 <img class="secondary-img" src="{{last_image.image.url}}" alt="product-img">
                                            {% endif %}
                                        {% endwith %}
                                            
                                            
                                        </a>

                                    

                                        

                                        <div class="product-card-action product-card-action-2 justify-content-center">
                                            <a href="#quickview-modal" class=" action-card action-quickview" data-bs-toggle="modal" onclick="productadmin('{{product.id}}')">
                                                <svg class="add-to-cart-text" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10 0C15.5117 0 20 4.48828 20 10C20 12.3945 19.1602 14.5898 17.75 16.3125L25.7188 24.2812L24.2812 25.7188L16.3125 17.75C14.5898 19.1602 12.3945 20 10 20C4.48828 20 0 15.5117 0 10C0 4.48828 4.48828 0 10 0ZM10 2C5.57031 2 2 5.57031 2 10C2 14.4297 5.57031 18 10 18C14.4297 18 18 14.4297 18 10C18 5.57031 14.4297 2 10 2ZM11 6V9H14V11H11V14H9V11H6V9H9V6H11Z" fill="#00234D" ></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-card-details">
                                        
                                        

                                        <h3 class="product-card-title text-center">
                                            <a href="#quickview-modal" class="" data-bs-toggle="modal" onclick="product('{{product.id}}')">{{product.name_product}}</a>
                                        </h3>
                                        <div class="product-card-price text-center">
                                            
                                            <span class="card-price-regular" style="color: {{ settings.primarycolor_page }}; ">${{product.price_product|floatformat:2}}</span>
                                            {% for idproduct,quantity in productsShopping.items %}
                                                
                                                {% if idproduct|string_to_int == product.id %}
                                                    <span class="card-price-regular" style="color: {{ settings.primarycolor_page }}; ">X {{quantity}}</span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- in this block is the preview of the product -->
                     <!-- END preview of the product -->
                           
                            {% endfor %}
                        </div>
                    </div> 
                    {% endblock %}
                    
                   

                    

                        <!-- muestra el paginador -->
                        {% if page_obj.has_other_pages %}
                        <div class="pagination justify-content-center mt-100">
                            <nav>
                            <ul class="pagination m-0 d-flex align-items-center">
                                {% if page_obj.has_previous %}
                                    <li class="item disabled"><a class="link" href="?page={{ page_obj.previous_page_number }}"> <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="icon icon-left">
                                        <polyline points="15 18 9 12 15 6"></polyline>
                                    </svg></a></li>


                                {% else %}
                                    <li class="item"><a class="link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="icon icon-left">
                                        <polyline points="15 18 9 12 15 6"></polyline>
                                    </svg></a></li>
                                {% endif %}
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="item"><a class="link" href="#">{{ num }} <span class="sr-only">{% trans '(current)' %}</span></a></li>
                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                        <li class="item"><a class="link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="item"><a class="link" href="?page={{ page_obj.next_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="icon icon-right">
                                        <polyline points="9 18 15 12 9 6"></polyline>
                                    </svg></a></li>
                                {% else %}
                                    <li class="item"><a class="link" href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="icon icon-right">
                                        <polyline points="9 18 15 12 9 6"></polyline>
                                    </svg></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                        {% endif %}
                        
                               
                                        
                                   
                           



                </div>
                <!-- product area end -->

               
                        
                        



                 
            </div>
        </div>
    </div>



   
   


</main>

{% endblock content_page %}
{% block extra_js %}
<!--boton de redireccion-->
<script>
    var url1="{% url 'almacen:index_admin'%}"
    var url2="{% url 'almacen:ventasadmin'%}"
    var link1 = $('#ventaslink');
    var link2 = $('#homelink');
    link1.attr('href', url2);
    link2.attr('href', url1);
    $('#linknavbar').append(`
    <li class="menu-list-item nav-item has-dropdown active">
        <div class="mega-menu-header">
                    <a class="linkredirec" href="{% url 'admin:index' %}"  style="color: var(--secondary-color);">
                        {% trans 'Admin' %} 
                    </a>
                </div>
            </li>
        `);



</script>

<!--graph-->

<script>
  var URl_graph_product = "{% url 'almacen:graphproduct'%}"
  function timeinterval(id_product){
      var timeinterval=$('#timeinterval').val()
      fetch(URl_graph_product+'?timeinterval='+timeinterval+'&'+'id='+id_product).then(response => response.json()).then(
          response => {
            console.log(response)
            $('#product_graph').empty()

              var image = new Image();
              image.src = 'data:image/png;base64,' + response.image;
              
              $('#product_graph').append(image)


          })     
          }
 

</script>
<!--modal-->

<script>
    var URl_product_admin = "{% url 'almacen:get_admin_product'%}"
    function productadmin(id_product){
        fetch(URl_product_admin+'?product_id='+id_product).then(response => response.text()).then(
            response => {
                $('body').append(response)
                $('#quickview-modal').modal('show')
                // aos
                $('#quickview-modal').on('hidden.bs.modal',(e)=>{
                    $('#quickview-modal').remove()

                 
                })
                // quickview slider initiation
                $('#quickview-modal').on('shown.bs.modal', function (e) {
                $('.qv-large-slider').slick('setPosition');
                $('.qv-thumb-slider').slick('setPosition');
            });

         // common slider
  $('.common-slider').each(function () {
    var $this = $(this);
    var verticalSlide = $(this).attr('data-vertical-slider');

    if ($this.children().length > 1) {
      var selectorAppendDots = $this.parent().find('.activate-dots');
      var selectorAppendArrows = $this.parent().find('.activate-arrows');
      var selectorPrevArrow = `<span class="arrow-slider arrow-prev"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#FEFEFE" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icon-arrow-left"><polyline points="15 18 9 12 15 6"></polyline></svg></span>`;
      var selectorNextArrow = `<span class="arrow-slider arrow-next"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#FEFEFE" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icon-arrow-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>`;

      $($this).slick({
        infinite: false,
        speed: 500,
        cssEase: 'ease',
        swipeToSlide: true,        
        vertical: verticalSlide ? true : false,
        verticalSwiping: verticalSlide ? true : false,
        appendDots: selectorAppendDots,
        appendArrows: selectorAppendArrows,
        prevArrow: selectorPrevArrow,
        nextArrow: selectorNextArrow,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    vertical: false,
                    verticalSwiping: false,
                }
            }
        ]
      });
    }
  });

  // slideshow
  $('.activate-slider').each(function () {
    var $this = $(this);
    if ($this.children().length > 1) {
      var selectorAppendDots = $this.parent().find('.activate-dots');
      var selectorAppendArrows = $this.parent().find('.activate-arrows');
      var selectorPrevArrow = `<span class="arrow-slider arrow-prev"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icon-arrow-left"><polyline points="15 18 9 12 15 6"></polyline></svg></span>`;
      var selectorNextArrow = `<span class="arrow-slider arrow-next"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="icon-arrow-right"><polyline points="9 18 15 12 9 6"></polyline></svg></span>`;

      function doAnimation() {
        $this.find('.slick-slide').each(function () {
          $(this).find('[data-animation]').each(function () {
            var dataAnimation = $(this).attr('data-animation');
            $(this).removeClass(dataAnimation);

            if ($(this).closest('.slick-slide').is('.slick-current.slick-active')) {
              $(this).addClass(dataAnimation);
            }
          })
        })

        return false;
      }

      $(this)
        .on('init', function (event, slick) {
          doAnimation();
        })
        .on('afterChange', function (event, slick, direction) {
          doAnimation();
        })
        .slick({
          appendDots: selectorAppendDots,
          appendArrows: selectorAppendArrows,
          prevArrow: selectorPrevArrow,
          nextArrow: selectorNextArrow
        });
    }
  })

  // increament-decreament button
  $(".qty-btn").on('click', function () {
    var qtyInput = $(this).parent().find('input');

    if ($(this).hasClass('inc-qty')) {
      qtyInput.val(parseInt(qtyInput.val()) + 1);
    } else if (qtyInput.val() >= 1) {
      qtyInput.val(parseInt(qtyInput.val()) - 1);
    }
  });

  // footer copyright current date
  $('.current-year').text(new Date().getFullYear());

  // toggle footer menu
  $('.footer-heading').on('click', function () {
    $(this).siblings().slideToggle();
  });

  // toggle & accordion 
  $('.accordion-btn').on('click', function () {
    $(this).siblings('.accordion-child').slideToggle();
    $(this).toggleClass('active');
  });
  $('.write-btn').on('click', function () {
    $(this).closest('.accordion-parent').find('.accordion-child').slideToggle();
  });

  // filter drawer open
  $('.filter-drawer-trigger').on('click', function () {
    $('.filter-drawer').toggleClass('active');
  });

  // product img popup
  $('[data-fancybox="gallery"]').fancybox({
    buttons: [
      "slideShow",
      "thumbs",
      "zoom",
      "fullScreen",
      "share",
      "close"
    ],
    loop: false,
    protect: true
  });


  /* --------------------------------------------------------
    scrollUp active
  -------------------------------------------------------- */
  var scrollUpBtn = $('#scrollup');

  $(window).scroll(function() {
    if ($(window).scrollTop() > 700) {
      scrollUpBtn.addClass('show');
    } else {
      scrollUpBtn.removeClass('show');
    }
  });

  scrollUpBtn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, 300);
  });

            }
        )
    }
    
</script>

<!--search-->

<script>
    const form = document.querySelector('.search-form');
    const input = document.querySelector('#search-input');
    
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const searchValue = input.value.trim();
        const actionUrl = form.getAttribute('action') + '?search=' + searchValue;
        form.setAttribute('action', actionUrl);
        form.submit();
        
    }
   
    );
</script>

<!--animation-->

<script>

    function cart_animation(id) {
        
        const iconCart = document.querySelector(`#cart${id}`);
        
        iconCart.classList.add('clicked');
        setTimeout(() => {
          iconCart.classList.remove('clicked');
        }, 500);
      }

    


</script>





{% endblock extra_js %}

